[Unit]
Description= Smart Grid Middleware Client API Startup Service
After=mariadb.service network.target SGM_Client_api.service

[Service]
Type=simple
User=root
ExecStart=/home/pi/SGM_Local/Client/datafetch_shell.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
