<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="wrapper">
  <form class="login" form action="/login" method="post">
    <p class="title">Log in</p>
    <input type="text" placeholder="Username" autofocus id="username" name="username" required />
    <i class="fa fa-user"></i>
    <input type="password" placeholder="Password" id="password" name="password" required />
    <i class="fa fa-key"></i>
    <!-- <a href="#">Forgot your password?</a> -->
    <button type="submit">
      <i class="spinner"></i>
      <span class="state">Login</span>
    </button>
  </form>
  
  </p>
</div>

</body>
</html>