[Unit]
Description= Smart Grid Middleware Server Startup Service
After=mariadb.service network.target

[Service]
Type=simple
User=root
ExecStart=/home/cs/SGM/Server/rest.py

Restart=on-abort

[Install]
WantedBy=multi-user.target

